<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SALAD Navoteños</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/navbar-styles.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/developers.css">
    <link rel="stylesheet" href="{% static 'css/navbar-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/developers.css' %}">
    <script src="https://kit.fontawesome.com/d84bfa7905.js" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../images/salad-logo.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">

</head>
<body>
<!--NavBar-->
{% include 'navbar.html' %}
    <!--Page Content-->
    <div class="container">
        <div class="row">
            <div class="products-header">
                <h1 class="text-center mt-4"><span class="green-text">DEVELOPERS</h1>
            </div>
        </div>
        <div class="row mt-2">
            <!-- Three cards below the centered card (second row) -->
                <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/sam.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">SAMUEL AGULLANA</h5>
                        <p class="cardd-text">Front-End Developer</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/kenny.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">KENNY FRANCISCO</h5>
                        <p class="cardd-text">Front-End Developer</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/mypic.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">ANDREW ROBLES</h5>
                        <p class="cardd-text">Front-End Developer</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/tiger.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">JUSTIN GUIRIBA</h5>
                        <p class="cardd-text">Front-End Developer</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/JINJER.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">JINJER ICO</h5>
                        <p class="cardd-text">Front-End Developer</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <!-- Three cards below the centered card (second row) -->
                <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/aaron.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">AARON BAYTEN</h5>
                        <p class="cardd-text">Back-End Developer</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/clark.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">CLARKIE</h5>
                        <p class="cardd-text">Back-End Developer</p>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/tiger.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">TIGER</h5>
                        <p class="cardd-text">Back-End Developer</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/lesley.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">TIGER</h5>
                        <p class="cardd-text">Back-End Developer</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/gusion.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">TIGER</h5>
                        <p class="cardd-text">Back-End Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <!-- Three cards below the centered card (second row) -->
                <div class="col">
                <div class="cardd">
                    <div class="cardd-img-container">
                        <img src="/images/CLARKK.jpg" class="cardd-img-top img-fluid" alt="...">
                    </div>
                    <div class="cardd-body">
                        <h5 class="cardd-title">CLARK LIVIOCO</h5>
                        <p class="cardd-text">Back-End Developer</p>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
        
    </div>

      <!--Footer-->
      <section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="index.html"><img src="../images/Logo-with-text-edited.png" alt="logo"></a>
                        <p>A scout-led fundraising project and business in support of Navoteño families.</p>
                        <div class="hr"></div>
                        <h6>Brgy. San Roque, Navotas City, 1485</h6>
                        <h6>+63 999 429 7534<span></h6>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-instagram"></i></a></li>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-youtube"></i></a></li>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>SALAD Navoteños &copy; 2024 <img src="../images/salad-logo.png" alt="logo"> All Rights Reserved.</p>
    </footer>
</body>
</html>