      <!--Footer-->
      <section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="index.html"><img src="../media/product_images/Logo-with-text-edited.png" alt="logo"></a>
                        <p>A scout-led fundraising project and business in support of Navoteño families.</p>
                        <div class="hr"></div>
                        <h6>Brgy. San Roque, Navotas City, 1485</h6>
                        <h6>+63 999 429 7534<span></h6>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-instagram"></i></a></li>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-youtube"></i></a></li>
                                <li><a class="hover-target" href="https://www.facebook.com/SALAD.Navotenos"><i class="fab fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>SALAD Navoteños &copy; 2024 <img src="../media/product_images/salad-logo.png" alt="logo"> All Rights Reserved.</p>
    </footer>