{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sign up</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>

    <!-- for error messages -->
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}


    <form method="post"> <!-- POST means sending data to the server -->

        {% csrf_token %} <!-- Protection against unauthorized submissions -->

        <label for="username">Username: </label>
        <input type="text" id="username" name="username">

        <label for="contact_number">Contact number (+63):</label>
        <input type="contact_number" id="contact_number" name="contact_number">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">


        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password">

        <button type="submit" id="submit">Sign Up!</button>

    </form>


</body>
</html>
